<!-- <p>hero works!</p> -->

<body class="body">

  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="form-group">
      <label class="center-block">Name
        <input class="form-control" type="text" placeholder="Enter Name" formControlName="user">
      </label>
      
      <span class="validatorMsg" *ngIf="user && user.invalid && user.touched">This field is required</span>  
      <br><br>
      <label class="center-block">Email
        <input class="form-control" type="text" placeholder="Enter Email" formControlName="email">
      </label>
      
      <span class="validatorMsg" *ngIf="email && email.invalid && email.touched">This is not a valid email</span>  
      <br><br>
      <label class="center-block">Password
        <input class="form-control" type="password" placeholder="Enter Password" formControlName="password">
      </label>
      <br><br>

      <div class="btn-div">
         <button class="btn btn-primary">Login</button>
      </div>

    </div>
  </form>

    <form [formGroup]="heroForm" (ngSubmit)="heroLoginUser()">
      <div class="form-group">
        <label class="center-block">Name
          <input class="form-control" formControlName="name" placeholder="Enter Your Name" id="getName">
        </label>
      
        <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This field is not valid</span>
        <div class="validatorMsg" *ngIf="0">This Name is not valid</div>

    
      </div>
      <div class="form-group">
        <label class="center-block">Email
          <input class="form-control" type="email" formControlName="email" placeholder="Enter Your Email">
        </label>
      
        <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This is not valid email</span>
        <br>
        <!-- <span class="validatorMsg" *ngIf="email==nitesh@capgemini.com">This is nitesh's email</span> -->

        <!-- <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This is not capgemini email</span> -->

      </div>

      <div class="form-group">
        <label class="center-block">Street
          <input class="form-control" formControlName="street" placeholder="Enter Your Street">
        </label>
    
        <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This Street is not valid</span>
    
      </div>
      <div class="form-group">
        <label class="center-block">City
          <input class="form-control" formControlName="city" placeholder="Enter Your City">
        </label>
        <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This City is not valid</span>
      </div>
    
            
          <!-- <div *ngIf="(Email.invalid && Email.touched) || Email.dirty">
            <small *ngIf="Email.errors?.required" class="text-danger">Primary email is required</small>
          
            <small *ngIf="Email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
          </div>


          <div *ngIf="(Name.invalid && Name.touched) || Name.dirty">
            <small *ngIf="Email.errors?.required" class="text-danger">Name is required</small>
            <small *ngIf="Email.errors?.pattern" class="text-danger">Please provide a valid Name</small>
          </div> -->
    
    
      <div class="form-group">
      <label class="center-block">State</label>
      
        <input class="form-control" type="text" name="city" list="StateName" placeholder="Enter Your State">
        
          <datalist id="StateName">
            <option value="Maharashtra">
            <option value="Karnataka">
            <option value="Uttarakhand">
            <option value="Jammu & Kashmir">
            <option value="Goa">
            <option value="Delhi NCR">
            <option value="Mizoram">
            <option value="Himanchal Pradesh">
          </datalist>
          <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This State is not valid</span>
        </div>
    
      
    
      <div class="form-group">
        <label class="center-block">Zip Code
          <input class="form-control"  placeholder="Enter Zip Code">
        </label>
        <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This Zip is not valid</span>
        <br>
        <!-- <span class="validatorMsg" *ngIf="zip === 400302">This Zip is 400302</span> -->
      </div>

      <div class="form-group">
        <label class="center-block">Comments</label>
        <div class="txt-area">
          <!-- <textarea aria-setsize="300px" ></textarea> -->
          <textarea placeholder="Enter all your negative as well as positive comments in this textarea"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="center-block">Feedback
          <textarea class="form-control"  placeholder="Enter Your Valuable feedback in this textarea "></textarea>
        </label> 
        <!-- <span class="validatorMsg" *ngIf="heroForm.invalid && heroForm.touched">This Zip is not valid</span> -->
        <br>
        <!-- <span class="validatorMsg" *ngIf="zip === 400302">This Zip is 400302</span> -->
      </div>


      <!-- <input type="submit"><label>Submit</label> -->
    <div class="btn-div">
      <!-- <input type="submit"> -->
      <button (onclick)="submitForm()" type="button" class="btn btn-primary">Submit Form</button>
    </div>
    <br>
    <div class="btn-div">
      <button class="btn btn-primary" >Sign Up</button>
   </div>
  
    <div class="abc">
      <div class="animate-me">Complete the Form for Exciting Offers and Enter Lucky Draw!</div>
    </div>

    

</form>

<button (click)="welcome()">
  welcome page
</button>
  <!-- <div class="btn-div">
    <button (click)="goHome()">Home</button>
  </div>
  <div class="btn-div">
    <button (onclick)="submitForm()" type="button" class="btn btn-primary" routerLink="home">Home</button>
  </div> -->
  
      <!-- <div class="form-group radio">
        <h4>Super power:</h4>
        <label class="center-block"><input type="checkbox"  value="flight"> Flight</label>
        <label class="center-block"><input type="checkbox"  value="x-ray vision"> X-ray vision</label>
        <label class="center-block"><input type="checkbox"  value="strength"> Strength</label>
      </div>
    <div class="gen">
      <form>
        <p>Please select your preffered way to contact:</p>
        <input type="radio" name="contact"> Email
      
        <input type="radio" name="contact"> Phone
      
        <input type="radio" name="contact"> Message
    
        <input type="radio" name="contact"> DM on IG
      </form>
    </div>
      <div class="checkbox">
        <label class="center-block">
          <input type="checkbox" formControlName="sidekick">I have a sidekick.
        </label>
      </div>
    </form>
    
    
    
    
        <button (click)="getPosts()" class="btn btn-primary">Get Posts</button>
    
        <div *ngFor = "let post of posts | async" class="padding">
          {{ posts | json }}
        </div>
    
      </body>

      <div class="panel-body" formGroupName="address">
        <div class="form-group">
          <label for="address" class="col-sm-3 control-label">Business Address</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="street" placeholder="Business Address">
          </div>
        </div>
        <div class="form-group">
          <label for="website" class="col-sm-3 control-label">Website</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="website" placeholder="website">
          </div>
        </div>
        <div class="form-group">
          <label for="telephone" class="col-sm-3 control-label">Telephone</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="mobile" placeholder="telephone">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="email" placeholder="email">
          </div>
        </div>
        <div class="form-group">
          <label for="page id" class="col-sm-3 control-label">Facebook Page ID</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="pageId" placeholder="facebook page id">
          </div>
        </div>
        <div class="form-group">
          <label for="about" class="col-sm-3  control-label"></label>
          <div class="col-sm-3">
            <div> class="btn btn-success form-control" (click)="openGeneralPanel()">Back</div>
          </div>
          <label for="about" class="col-sm-2  control-label"></label>
          <div class="col-sm-3">
            <button class="btn btn-success form-control" [disabled]="heroForm.invalid" (click)="Info()">Continue</button>
          </div>
        </div>
      </div> -->